.admin-div{
    width: 50%;
    height: 450px;
    margin-left: 25%;/*左外边距*/
    text-align: center;
    border: 1px #999 solid;
    outline: none;
    margin-top: 10%;
    padding-top: 80px;
}
.admin-div input{
    width: 300px;
    height: 30px;
    outline: none;
    margin-top: 10px;
}

li{
    cursor: pointer;
}