<!doctype html>
<html>
<head>
  <script>window.dataLayer = [];</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MGKBKT5');</script>
<!-- End Google Tag Manager -->

  <!-- <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement('script');
    hm.src = 'https://hm.baidu.com/hm.js?8dfa8fb7ffbd0407c8562282198066a6';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
 -->

  <title>星享俱乐部 | 星巴克</title>

  <!-- Meta -->
  








<meta charset='utf-8'/>
<meta http-equiv='Content-Language' content='zh'/>
<meta name='viewport' content='width=device-width, initial-scale=1'/>
<meta name='keywords' content=''/>
<meta name='description' content='星享俱乐部'>
<meta name='baidu-site-verification' content='u7Vir8pZFL' />
<link rel='canonical' href='/account/'>

<!-- Open graph -->
<meta property='og:site_name' content='星巴克'/>
<meta property='og:type' content='website'/>
<meta property='og:title' content='星享俱乐部'/>
<meta property='og:url' content='/account/'/>
<meta property='og:description' content='星享俱乐部'/>
<meta property='og:image' content='/assets/favicons/mstile-310x150.png'/>

<!-- Twitter card -->
<meta name='twitter:card' content='summary_large_image'/>
<meta name='twitter:site' content='{"username"=>"@starbucks"}'/>
<meta name='twitter:title' content='星享俱乐部'/>
<meta name='twitter:description' content='星享俱乐部'/>
<meta name='twitter:image' content='/assets/favicons/mstile-310x150.png'/>

<!-- WeChat sharing -->
<script>
  var WECHAT_TITLE = '星巴克官网: 星享俱乐部';
  var WECHAT_DESC = '星享俱乐部';
  var WECHAT_IMAGE = '/assets/images/wechat.png';
  var WCHAT_NO_GA = '';
</script>


  <!-- Favicons -->
  <link rel='apple-touch-icon' sizes='180x180' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/apple-touch-icon.png'>
<link rel='icon' type='image/png' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon-32x32.png' sizes='32x32'>
<link rel='icon' type='image/png' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon-16x16.png' sizes='16x16'>
<link rel='manifest' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/manifest.json'>
<link rel='mask-icon' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/safari-pinned-tab.svg' color='#ef233c'>
<link rel='shortcut icon' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon.ico'>
<meta name='msapplication-config' content='https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/browserconfig.xml'>
<meta name='theme-color' content='#ffffff'>


  <!-- CSS -->
  <link rel='stylesheet' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/styles.css?202007141130'>
</head>

<body class='lang-zh page-account' ontouchstart=''>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src='https://www.googletagmanager.com/ns.html?id=GTM-MGKBKT5'
  height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <script>
var isChrome = ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.vendor.toLowerCase().indexOf('google') > -1) || navigator.userAgent.match('CriOS'));
if (isChrome) document.body.classList.add('chrome');
</script>

  <div id='app-view-wrapper'>
    <!-- Navigation panel -->
    




<nav id='nav'>
  <!-- <div class='terms-notes' id='terms-notes'>
    <p id='terms-notes-zh' style="display: none"><a href="/help/legal/starbucks-rewards-program-terms-and-conditions-2020">《星享俱乐部活动的条款和条件》即将更新并于2020年6月9日生效。您可以点击阅读，了解更多详情。</a></p>
    <p id='terms-notes-en' style="display: none"><a href="/help/legal/starbucks-rewards-program-terms-and-conditions-2020">The updated Starbucks Rewards Program Terms and Conditions will take effect on June 9, 2020. You can click here to review and learn more. </a></p>
  </div> -->
  <div id='placeholder-element'></div>
  <div class='container'>
    <header class='header'>
      <a class='logo' href='/'>
        <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo.svg' alt='星巴克'/>
      </a>
      <div class='primary'>
	<ul>
	  
	  <li class='stores'>
	    <a id='stores-primary'  href='/stores/'>
	      门店
	    </a>
	  </li>
	  
	  <li class='account'>
	    <a id='account-primary'  href='/account/' class='active'>
	      我的帐户
	    </a>
	  </li>
	  
	  <li class='menu'>
	    <a id='menu-primary'  href='/menu/'>
	      菜单
	    </a>
	  </li>
	  
	</ul>
</div>

<a class='icon trigger' rel='nav-overlay' id='nav-menu'>
  <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-hamburger.svg'/>
  <span>更多</span>
</a>

    </header>

    <div class='body'>
      <div id='react-account-navigation-bar' class='body'></div>

    </div>
  </div>

  
  <div class='overlay ' id='nav-overlay'>
  <div class='container'>
    <header class='header'>
      <a class='logo' href='/'>
        <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo.svg' alt='星巴克'/>
      </a>
      <button class='icon close'>Close</button>
    </header>
    <section class='body'>
      <div class='container middle'>
        <ul>
          
          <li>
            <a id='stores-overlay' href='/stores/' >
              门店
            </a>
          </li>
          
          
          <li>
            <a id='account-overlay' href='/account/' class='active' >
              我的帐户
            </a>
          </li>
          
          
          <li>
            <a id='menu-overlay' href='/menu/' >
              菜单
            </a>
          </li>
          <li><hr/></li>
          
          <li>
            <a id='apps-overlay' href='/apps/' >
              星巴克移动应用
            </a>
          </li>
          
          
          <li>
            <a id='svc-overlay' href='/starbucks-gift-card/' >
              星礼卡
            </a>
          </li>
          
          
          <li>
            <a id='starbucks_reserve-overlay' href='/starbucks-reserve/' >
              星巴克臻选™
            </a>
          </li>
          
          
          <li>
            <a id='starbucks_mop-overlay' href='/starbucks-now/' >
              啡快™ － 在线点 到店取
            </a>
          </li>
          
          
          <li>
            <a id='starbucks_delivery-overlay' href='/starbucks-delivers-info/' >
              专星送™
            </a>
          </li>
          
          
          <li>
            <a id='coffeehouse-overlay' href='/coffee-blog'  target='_blank'>
              咖啡星讲堂
            </a>
          </li>
          
          
          <li>
            <a id='roastery-overlay' href='https://roastery.starbucks.com.cn/'  target='_blank'>
              上海烘焙工坊
            </a>
          </li>
          
          
          <li>
            <a id='about-overlay' href='/about/' >
              关于星巴克
            </a>
          </li>
          
          
          <li>
            <a id='help-overlay' href='/help/' >
              帮助中心
            </a>
          </li>
          
          
          <li><hr/></li>
        </ul>
        <footer class='account'>
          <div id='account-logout'></div>
        </footer>
      </div>
    </section>
    <footer class='footer'>
      <div class='container'>
        
  

  
    
    <a id='en-collapse' class='lang' href='javascript:void(window.location.pathname = "/en/account/")'>
      English
    </a>
  


        |
        <a id='privacy-collapse' href='/help/legal/privacy-policy'>
          隐私政策
        </a>
        |
        <a id='terms-collapse' href='/help/legal/terms-of-starbucks-website/'>
          使用条款
        </a>
      </div>
    </footer>
  </div>
</div>

</nav>
<style>
  @media (min-width: 1025px) {
    #terms-notes {
      margin-left: 30%;
      width: 69%;
    }
    #placeholder-element {
      display: none;
    }
  }
  .terms-notes {
    position: fixed;
    display: none;
    width: 100%;
    padding: 4px 16px;
    background-color: #0bac69;
    z-index: 999;
  }
  .terms-notes p {
    margin: 0;
    padding-right: 18px
  }
  .terms-notes p a {
    width: 100%;
    margin: 0;
    color: #ffffff;
  }
</style>

<script>
  var pathname = window.location.pathname;
  if (pathname === '/' || pathname === '') {
    var termsNotes = termsNotesHeight = document.getElementById('terms-notes')
    termsNotes.style.display = 'block';
    document.getElementById('terms-notes-zh').style.display = 'block';
    var placeholderElement = document.getElementById('placeholder-element');
    placeholderElement.style.height = termsNotes.offsetHeight + 'px';
  }
  if (pathname === '/en' || pathname === '/en/') {
    var termsNotes = termsNotesHeight = document.getElementById('terms-notes')
    termsNotes.style.display = 'block';
    document.getElementById('terms-notes-en').style.display = 'block';
    var placeholderElement = document.getElementById('placeholder-element');
    placeholderElement.style.height = termsNotes.offsetHeight + 'px';
  }
</script>

    
    <!-- Page content -->
    <section id='content'>
      
      <div id='react-account-app'></div>
<script type="text/javascript">
    var today = new Date();
    var  year = today .getFullYear();
    var month = today .getMonth() + 1;
    var day= today .getDate();
    var ymd = year +""+ month+"" + day;
    var oHead = document.getElementsByTagName('HEAD').item(0); 
    var oScript= document.createElement("script"); 
    oScript.type = "text/javascript"; 
    oScript.src="https://dfp.arm.starbucks.com.cn/public/downloads/frms-fingerprint.js?custID=dfp&serviceUrl=https://dfp.arm.starbucks.com.cn/public/generate/jsonp&loadSource=script&type=1&ymd="+ymd; 
    oHead.appendChild(oScript); 
</script>
      <div id='app-notification'></div>
    </section>
    <!-- banner-video begin -->
    <!-- <div class="banner-video" id="banner-video">
      <div class="close-video" id="close-video"><img src="../assets/icons/close-video.png" alt=""></div>
      <div class="iframe-video" id="iframe-video"></div>
    </div>
    <div id="video_container"></div>
    <script type="text/javascript" src="//vm.gtimg.cn/tencentvideo/txp/js/iframe/api.js"></script> -->
    <!-- banner-video end -->

    <div id='app-loading'></div>
    <div id='app-auth'></div>

    
  </div>
  <!-- Navigation bottom mobile -->
  <div class='primary-mobile'>
  <ul class='flex justify-around logging-in-element'>
    
    <li class='home' id='home-mobile'>
      <a href='/'
      
      
      
        
      
       >
        <span class='icons'>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg'/>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home-active.svg' class='active'/>
        </span>
        <div id='home-mobile'>主页</div>
      </a>
    </li>
    
    <li class='stores' id='stores-mobile'>
      <a href='/stores/'
      
      
      
        
      
       >
        <span class='icons'>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg'/>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores-active.svg' class='active'/>
        </span>
        <div id='stores-mobile'>门店</div>
      </a>
    </li>
    
    <li class='account' id='account-mobile'>
      <a href='/account/'
      
      
      
        
        class='active'
        
      
       >
        <span class='icons'>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg'/>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account-active.svg' class='active'/>
        </span>
        <div id='account-mobile'>我的帐户</div>
      </a>
    </li>
    
    <li class='menu' id='menu-mobile'>
      <a href='/menu/'
      
      
      
        
      
       >
        <span class='icons'>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg'/>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu-active.svg' class='active'/>
        </span>
        <div id='menu-mobile'>菜单</div>
      </a>
    </li>
    
    <li class='more' id='more-mobile'>
      <a class='icon trigger' rel='nav-overlay'>
        <span class='icons'>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg'/>
          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more-active.svg' class='active'/>
        </span>
        <div>更多</div>
      </a>
    </li>
  </ul>
</div>


  <!-- Javascript -->
  
    <!--[if lt IE 9]><script src='https://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
<script>
  var PAGE_LANG = 'zh';
  var PAGE_TITLE = '星享俱乐部';
  var PAGE_URL = '/account/';
  var SEARCH_EMPTY = '未找到结果，猜你喜欢';
  var SEARCH_POPULAR = '大家都在搜';
  var SURVEY_URL = '';
</script>

<script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>

<script type='text/javascript' src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/base-bundle.js'></script>

<script type='text/javascript' src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/common.bundle.js?202007141130'></script>
<script type='text/javascript' src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/vendor.bundle.js?202007141130'></script>
<script type='text/javascript' src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/pages.bundle.js?202007141130'></script>


  
  <script type='text/javascript' src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/app.bundle.js?202007141130'></script>





<!-- <script src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js" crossorigin="anonymous"></script> -->

    
    
    

  
  
</body>
</html>
