<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel='stylesheet' th:href="@{/css/pet-styles.css}">
    <script src="js/manager.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/npm.js"></script>
</head>
<body class='lang-zh page-menu-beverages' ontouchstart='' style="overflow-x: hidden; overflow-y: auto;" onload="
if($('#role_index').text=='管理员')changeContent('content1','index1');else changeContent('content7','index7')">
<span id="role_index" style="display: none" th:text="${session.user.getRole()}"></span>
<div style="width: 100%; margin: auto;">
    <div id='app-view-wrapper' style="">
        <section id='content'>

            <div class='wrapper fluid margin page-menu-list' style="float:left;width: 25%">
                <ul class="list-group">
                    <li th:if="${session.user.getRole().equals('管理员')}" th:id="index1" onclick="changeContent('content1',this.id);" class="list-group-item">所有宠物</li>
                    <li th:if="${session.user.getRole().equals('管理员')}" th:id="index2" onclick="changeContent('content2',this.id);" class="list-group-item">宠物信息</li>
                    <li th:if="${session.user.getRole().equals('管理员')}" th:id="index3" onclick="changeContent('content3',this.id);" class="list-group-item">登记宠物</li>
                    <li th:if="${session.user.getRole().equals('管理员')}" th:id="index4" onclick="changeContent('content4',this.id);" class="list-group-item">所有用户</li>

                    <li th:if="${session.user.getRole().equals('管理员')}" th:id="index5" onclick="changeContent('content5',this.id);" class="list-group-item">添加种类</li>
                    <li th:if="${session.user.getRole().equals('管理员')}" th:id="index6" onclick="changeContent('content6',this.id);" class="list-group-item">用户申请</li>
                    <li th:id="index7" onclick="changeContent('content7',this.id);" class="list-group-item">我要领养</li>
                    <li th:id="index8" onclick="changeContent('content8',this.id);" class="list-group-item">我的申请</li>
                    <li th:id="index9" onclick="changeContent('content9',this.id);" class="list-group-item">我的领养</li>
                </ul>
            </div>

            <div class='wrapper fluid margin page-menu-list' style="float:right;width: 75%">

                <div id="content1" style="display:none;">
                    <div th:fragment="f_content1">
                        <table class="table table-bordered" style="text-align: center">
                            <tr>
                                <td><strong>编号</strong></td>
                                <td><strong>姓名</strong></td>
                                <td><strong>年龄</strong></td>
                                <td><strong>性别</strong></td>
                                <td colspan="2"><strong>操作</strong></td>
                            </tr>

                            <tr th:id="${pet.pno}" th:each="pet:${currPetsDetail}">
                                <td th:text="${pet.pno}"></td>
                                <td th:text="${pet.name}"></td>
                                <td th:text="${pet.age}"></td>
                                <td th:text="${pet.sex}"></td>
                                <td style="cursor:pointer;" th:id="${pet.pno}" onclick="deletePet(this.id)"><span
                                        class="label label-danger">删除</span></td>
                                <td style="cursor:pointer;" th:id="${pet.pno}" onclick="PetInfo(this.id)"><span
                                        class="label label-success">详情</span></td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div id="content2" style="display:none">
                    <form id="alterPetInfo">
                        <table class="table table-bordered" style="text-align: center;">
                            <th style="">
                            <td></td>
                            <td></td>
                            <td></td>
                            </th>

                            <tr>
                                <td><strong>图片</strong></td>
                                <td colspan="3"><img th:id="picture" src="../static/images/cat/cat1.jpg"
                                                     style="width: 50px;height: 50px;border-radius: 50%;"></td>
                            </tr>
                            <tr>
                                <td><strong>编号</strong></td>
                                <td colspan="3" id="pno">1</td>
                            </tr>
                            <tr>
                                <td><strong>姓名</strong></td>
                                <td colspan="3"><input type="text" name="name" id="name"></td>
                            </tr>
                            <tr>
                                <td><strong>年龄</strong></td>
                                <td colspan="3"><input type="text" name="age" id="age"></td>
                            </tr>
                            <tr>
                                <td><strong>生日</strong></td>
                                <td colspan="3"><input type="text" name="birth" id="birth"></td>
                            </tr>
                            <tr>
                                <td><strong>性别</strong></td>
                                <td colspan="3"><input type="text" name="sex" id="sex"></td>
                            </tr>
                            <tr>
                                <td><strong>简介</strong></td>
                                <td colspan="3"><textarea rows=5 class="form-control" name="describe"
                                                          id="describe"></textarea>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <button class="button primary trigger" onclick="alterPetBtn()">修改</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div id="content3" style="display:none;">
                    <form id="addPet" enctype="multipart/form-data">
                        <input type="text" name="name" placeholder="请输入姓名">
                        <br/>
                        <input type="text" name="pno" placeholder="请输入编号">
                        <br/>
                        <input type="text" name="age" placeholder="请输入年龄">
                        <br/>
                        <input type="text" name="birth" placeholder="请输入生日">
                        <br/>
                        <input type="text" name="sex" placeholder="请输入性别">
                        <br/>
                        <input type="file" name="picture" placeholder="请输入图片">
                        <br/>
                        <input type="text" name="describe" placeholder="请输入描述">
                        <br/>
                        <input type="text" name="kind" placeholder="请输入种类">
                        <br/>
                        <input type="submit" onclick="alert('sd');addPet()" value="添加" class="button primary trigger"/>
                        <input type="reset" value="清空" class="button primary trigger">
                    </form>
                </div>

                <div id="content4" style="display:none;">
                    <div th:fragment="f_content4">
                        <table class="table table-bordered" style="text-align: center">
                            <tr>
                                <td><strong>编号</strong></td>
                                <td><strong>用户名</strong></td>
                                <td><strong>密码</strong></td>
                                <td><strong>角色</strong></td>
                                <td colspan="2"><strong>操作</strong></td>
                            </tr>

                            <tr th:each="user:${userList}">

                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.role}"></td>

                                <td style="cursor:pointer;"><span th:id="${user.id}"
                                                                  class="label label-danger">删除</span></td>
                                <td style="cursor:pointer;"><span th:id="${user.id}"
                                                                  class="label label-success" data-toggle="modal"
                                                                  data-target="#myModal" onclick="getInfo(this.id);"
                                >修改</span>
                                </td>
                                <script>

                                    function getInfo(id) {
                                        $.ajax({
                                            type: "post",
                                            url: "manager/getUserInfoById",
                                            data: {
                                                id: id
                                            },
                                            complete: function (data) {
                                                var json1 = $.parseJSON(data.responseText);
                                                $("#userid").val(json1["id"]);
                                                $("#username").val(json1['username']);
                                                $("#password").val(json1['password']);
                                                $("#role").val(json1['role']);
                                            },
                                            error: function () {
                                                alert("查询失败！");
                                            }
                                        });
                                    }
                                </script>

                            </tr>

                        </table>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <form>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
                                </div>
                                <div class="modal-body" height="300px">

                                    <table class="table">
                                        <tr style="display: none">
                                            <td><input th:type="hidden" name="id"
                                                       th:id="userid"/></td>
                                        </tr>
                                        <tr>
                                            <td>用户名</td>
                                            <td><input style="border: 1px darkgray solid;border-radius: 5px"
                                                       class="form-control" th:type="text" name="username"
                                                       th:id="username"/></td>
                                        </tr>
                                        <tr>
                                            <td>密 码</td>
                                            <td><input style="border: 1px darkgray solid;border-radius: 5px"
                                                       class="form-control" th:type="text" name="username"
                                                       th:id="password"/></td>
                                        </tr>
                                        <tr>
                                            <td>角 色</td>
                                            <td><select class="form-control" value="用户" name="role" th:id="role">
                                                <option>用户</option>
                                                <option>管理员</option>
                                            </select></td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="alterUser()">修改
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div id="content5" style="display:none;">

                    <form>
                        <input class="form-control" placeholder="添加的种类" th:id="kind" name="kind"/>
                        <br/>
                        <a class="button" onclick="addKind();" th:text="添加"/>
                    </form>
                </div>

                <div id="content6" style="display:none;">
                    <div th:fragment="f_content6">
                        <table class="table table-bordered" style="text-align: center">
                            <tr>
                                <td><strong>编号</strong></td>
                                <td><strong>申请者</strong></td>
                                <td><strong>申请宠物</strong></td>
                                <td><strong>状态</strong></td>
                                <td colspan="2"><strong>操作</strong></td>
                            </tr>

                            <tr th:id="${adopt.id}" th:each="adopt,adoptStat:${adoptList}">
                                <td th:id="adopt_id+${adoptStat.index}" th:text="${adopt.id}"></td>
                                <td th:text="${adopt.username}"></td>
                                <td th:text="${adopt.petname}"></td>
                                <td th:text="${adopt.state}"></td>

                                <td style="display: none" th:id="adopt_user+${adoptStat.index}" th:text="${adopt.user_id}"></td>
                                <td style="display: none" th:id="adopt_pet+${adoptStat.index} " th:text="${adopt.pet_id}"></td>
                                <td><span th:id="${adoptStat.index}" class="label label-success" onclick="agreeAdopt($('#adopt_id'+this.id).text(),$('#adopt_user'+this.id).text(),$('#adopt_pet'+this.id).text());">同意</span></td>
                                <td><span th:id="${adoptStat.index}" class="label label-danger" onclick="refuseAdopt($('#adopt_id'+this.id).text(),$('#adopt_user'+this.id).text(),$('#adopt_pet'+this.id).text());">拒绝</span></td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div id="content7" style="display:none;">
                    <div th:fragment="f_content7">
                        <table class="table table-bordered" style="text-align: center">
                            <tr>
                                <td><strong>编号</strong></td>
                                <td><strong>姓名</strong></td>
                                <td><strong>年龄</strong></td>
                                <td><strong>性别</strong></td>
                                <td><strong>操作</strong></td>
                            </tr>

                            <tr th:id="${pet.pno}" th:each="pet:${currPetsDetail}">
                                <td th:text="${pet.pno}"></td>
                                <td th:text="${pet.name}"></td>
                                <td th:text="${pet.age}"></td>
                                <td th:text="${pet.sex}"></td>
                                <td style="cursor:pointer;" th:id="${pet.pno}" onclick="applyAdopt(this.id)"><span
                                        class="label label-success">申请领养</span></td>

                            </tr>

                        </table>
                    </div>
                </div>

                <div id="content8" style="display:none;">
                    <div th:fragment="f_content8">
                    <table class="table table-bordered" style="text-align: center">
                        <tr>
                            <td><strong>申请编号</strong></td>
                            <td><strong>申请宠物</strong></td>
                            <td><strong>申请状态</strong></td>
                        </tr>

                        <tr th:each="apply:${applyList}">
                            <td th:text="${apply.id}"></td>
                            <td th:text="${apply.petname}"></td>
                            <td th:text="${apply.state}"></td>
                        </tr>

                    </table>
                    </div>
                </div>

                <div id="content9" style="display:none;">
                    <div th:fragment="f_content9">
                    <table class="table table-bordered" style="text-align: center">
                        <tr>
                            <td><strong>领养编号</strong></td>
                            <td><strong>领养宠物</strong></td>
                            <td><strong>领养状态</strong></td>
                        </tr>

                        <tr th:each="apply:${myAdoptList}">
                            <td th:text="${apply.id}"></td>
                            <td th:text="${apply.petname}"></td>
                            <td th:text="${apply.state}"></td>
                        </tr>

                    </table>
                    </div>
                </div>


            </div>


            <div id='app-notification'></div>
        </section>
    </div>


</div>
</div>


</body>
</html>

<!--测试数据
        <td>3</td>
        <td>2017-6</td>
        <td>男</td>
        <td>蓝猫蓝猫蓝猫蓝猫蓝猫蓝猫蓝猫蓝猫蓝猫蓝猫</td>
        <td>猫</td>-->